@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  /* Fonts */
  --font-bebas-neue: "Bebas Neue", sans-serif;
  --font-source-sans: "Source Sans 3", sans-serif;
  --font-source-code: "Source Code Pro", monospace;

  /* Background */
  --color-midnight-black: #0F0F0F;
  
  /* Main Text */
  --color-spectral-white: #F0F0F0;

  /* Accent */
  --color-mystic-purple: #4E3B6E;

  /* Buttons and Highlights */
  --color-golden-amber: #FFB84C;
  --color-slate-blue: #6A7F9B;
  --color-deep-coral: #E35B5B;

  /* Subtle Accents */
  --color-soft-lavender: #C2A7D7;
}
